.social-icons {
  display: flex;
  gap: 10px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.icon:hover {
  background-color: black !important; /* Change background color on hover */
}

.icon.github {
  background-color: #333;
}
.icon.linkedin {
  background-color: #0077b5;
}
.icon.envelope {
  background-color: #c71610;
}
.icon.gitlab {
  background-color: #e24329;
}
.icon.facebook {
  background-color: #3b5998;
}
.icon.medium {
  background-color: #000;
}
.icon.stackoverflow {
  background-color: #f48024;
}

.buttonClass {
  background-color: #55198b;
  border: solid 1px #55198b;
  color: #ffffff;
  font-weight: 700;
  width: max-content;
  padding: 13px 22px;
  margin-right: 50px;
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.dev-icon-wrapper {
  display: inline-block;
  margin-right: 1.25rem; /* 5 spacing */
  margin-bottom: 1.25rem; /* 5 spacing */
}

.dev-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease; /* Smooth transition */
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust jump height here */
  }
  100% {
    transform: translateY(0);
  }
}

.dev-icon:hover {
  animation: jump 0.6s ease; /* Apply the jump animation on hover */
}

.dev-icon p {
  margin-top: 0.5rem; /* Space between icon and text */
}

